@font-face {
    font-family : "Luckiest Guy" ;
    src : url ("./fonts/LuckiestGuy.ttf");
}

body {
background-color: #53A8E2;
font-family : "Luckiest Guy" , sans-serif ;
text-align : left;
margin: 0;
overflow: hidden;
}

.vl{
border-left: 6px solid white;
height:75vh;
position:absolute;
left: 1%;
bottom:0%;          
}

.depth-container {
    font-size: 24px;
    left: 30px;
    position: absolute;
    font-weight: bold;
    color: #ffffff;
}


.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    position: absolute;
    top: 0%;
    left: 0%;
}


.silhouette{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height:90%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}
    
#startScreen {
background-color: #53A8E2;
}
    
#gameScreen, .zone-screen {
display: none;
background-color:#dbefff;
flex-direction: column;
color:#E6821C;
font-size: 150%;
}
   


h1 {
    color:#033b6A;
    font-size: 128px;
    font-weight: 400;
    text-transform: uppercase;
}


h2 {
    color:#E6821C;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    color:#033b6A;
    left: 10%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  
}
p {
    color:#033b6A;
    left: 10%;
    font-size: 34px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
  
}


.start-button {
background-color: #F7941E;
width: 318px;
height: 107px;
color: white;
font-family : "Luckiest Guy" , sans-serif ;
font-size: 50px;
font-weight: 400;
border: 3px solid white;
text-align: center;
padding: 0;
display: flex;
justify-content: center;
border-radius: 30px;
word-wrap: break-word;
cursor: pointer;
align-items: center;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}


.start-button:hover{
background-color: #E6821C;
transform: scale(1.1);
}

.fish-1 {
position:absolute;
animation-name : swimming-1 ;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
.fish-2 {
    position:absolute;
    animation-name : swimming-2 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(2) ;
    }
.fish-3 {
    position:absolute;
    animation-name : swimming-3 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
.fish-4 {
    position:absolute;
    animation-name : swimming-4 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(2)
    }
.fish-5 {
        position:absolute;
        animation-name : swimming-5 ;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: scale(2)
        }


      
.zone{
width: 100%;
height: 100% ;
display: flex;
align-items: center;
justify-content: flex-end;
color: white;
font-size: 40px;
padding: 5%;

} 

.zone:hover{
    color:#E6821C;
}


.fish-1 {top: 20%; right: 10%; width: 100px; animation-duration: 16s; transform: scaleX(-1);}
.fish-2 {top: 60%; left: 80%; width: 70px; animation-duration: 6s; }
.fish-3 {top: 40%; right: 30%; width: 90px; animation-duration: 10s; transform: scaleX(1); }
.fish-4 {top: 70%; left: 50%; width: 80px; animation-duration: 9s; }
.fish-5 {top: 70%; left: 50%; width: 80px; animation-duration: 12s; transform: scaleX(-1);}

.screen{width: 100%;
    height: 100% ;
    display: flex;}

.euphotic {background: #5AA9E6;}
.dysphotic {background: #2C7CB9;}
.aphotic {background:#033b6A}

.fish-1, .fish-2, .fish-3, .fish-4, .fish-5{
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.audio{
    display: none;
}

.home-button {
    position:absolute;
    left: 50px;
    top: 50px;
    width: 90px;
    cursor: pointer;
    z-index: 10;
    

}

.zone-name{
    font-size: 100px;
    color: #e6821c;
    font-weight: bold;
}


.zone-title{
    font-size: 50px;
    color:#e6821c;
    position: absolute;
    top:30px;
    right: 50px;
    text-transform:uppercase;
}

    

.ocean-water-e{
    position :absolute;width: 100%;
    background-color:#5AA9E6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 1194px;
    padding: 20px;
}

.ocean-water-d{
    position :absolute;width: 100%;
    background-color:#2C7CB9;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 1194px;
    padding: 20px;
}

.ocean-water-a{
    position :absolute;width: 100%;
    background-color:#033b6A;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 1194px;
    padding: 20px;
}
  
.animal {
    transition: transform 0.3s ease-in-out;
    cursor: pointer; 
    width: 100px ;
    position: absolute;
    
}

.animal:hover{
    transform: scale(1.1);
}

.turtle {top: 200px; left: 55%; width: 600.562px; height: 350.272px;}
.dolphin {top: 300px; left: 5%; width: 500px; height: 500px;}
.jellyfish {top:150px; left: 30%; width: 408px; height: 271px;}

.squid {top: 100px; left: 70%;  width: 500.562px;height: 540.272px;}
.whale {top: 10px; left: 5%;  width: 700.562px;height: 710.272px;}
.crab {top: 150px; left: 45% ;  width: 283.562px;height: 244.272px;}

.angler { top: 50px; left: 50%; width: 400px; height: 490px;}
.starfish {top: 30px; left: 30%; width: 200px; height: 200px;}
.fangtooth {top: 200px; left: 10% ;  width: 403.562px;height: 384.272px;}
.coral{ top: 35%; left: 75%;  width: 230.562px;height: 304.272px;}


.boat {
    top: 14%;
    height: 10%;
    width: 10%;
    position: absolute;
    right: 5px;;
    z-index: 0;
}

.cloud {
    top: 3%;
    height: 15%;
    width: 15%;
    position: absolute;
    left: 30px;;
    z-index: 0;
}


.fact-text-e,.fact-text-d,.fact-text-a{
    width: 800px;
    font-size: 180px;
    text-align: left;
    transform: rotate(0deg);
    box-sizing: border-box;
    height: 54px;
    flex-shrink: 0;
    text-align: left;
    overflow: hidden;
    line-height: normal;
    }


.zone-title{
    font-size: 50px;
    color: #ffffff;
    top: 50PX;
    position: absolute;
    z-index: 11;
    right: 5%;
}

.info-card  {
    position: absolute;
    bottom: 20px;
    min-height: 100px;
    width: 85%;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight:800;
    background-color: #ffffff;
    padding:20px;
    border-radius: 41px;
    border:  5px solid rgb(0, 0, 0);
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    color: #033b6A;  
    left: 5%;
    line-height: 1.5; 
    
      
  }

.next-zone {
    background-color: #F7941E;
    width: 218px;
    height: 90px;
    color: white;
    position:absolute;
    bottom: 10px;
    right:20px;
    font-family : "Luckiest Guy" , sans-serif ;
    font-size: 30px;
    border: 3px solid white;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    word-wrap: break-word; 
    cursor: pointer;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;  
}

.next-zone:hover {
    background-color: #2C7CB9;
}

.back-home {
    background-color: #f71e1e;
    width: 218px;
    height: 90px;
    color: white;
    position:absolute;
    bottom: 10px;
    right:20px;
    font-family : "Luckiest Guy" , sans-serif ;
    font-size: 30px;
    border: 3px solid white;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    word-wrap: break-word; 
    cursor: pointer;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;  
    
}

.back-home:hover {
    background-color: #2C7CB9;
}





@keyframes swimming-1 { 
    0% {right:0px; top: 50px; }
    100% { right:2000px; top: 50px; } 
    }
    @keyframes swimming-2 { 
        0% {left:0px; top: 250px; }
        100% { left:2080px; top:250px; } 
        }
        @keyframes swimming-3 { 
            0% {right:0px; top: 750px; }
            100% { right:2000px; top:750px; } 
            }
            @keyframes swimming-4 { 
                0% {left:0px; top: 390px; }
                100% { left:2000px; top:390px; } 
                }
                @keyframes swimming-5 { 
                    0% {left:0px; top: 900px; }
                    100% { left:2000px; top:900px; } 
                    }

.sea-creatures {
    position: relative;
    height: 60vh;
}

.creature {
    width: 150px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.creature:hover {
    transform: scale(1.1);

}
