@font-face {
    font-family : "Luckiest Guy" ;
    src : url ("./fonts/LuckiestGuy.ttf");
}
.body {
background-color: #53A8E2;
font-family : "Luckiest Guy" , sans-serif;
text-align : center;
margin: 0;
overflow: hidden;

}
.vl{
border-left: 6px solid white;
height:75vh;
position:absolute;
margin-left: 5%;
left: 0%;
bottom:0%;          
}

.container {
position: relative;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.screen {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
position: absolute;
top: 0%;
left: 0%;

}

#startScreen {
background-color: #53A8E2;
}
#gameScreen {
display: none;
background-color:#f0f5ff ;
flex-direction: column;
color:#E6821C;
font-size: 150%;

}

h1{
font-size: 128px;
color: #033b6A;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 20px;
}

.start-button {
background-color: #F7941E;
width: 318px;
height: 107px;
color: white;
font-family : "Luckiest Guy" , sans-serif ;
font-size: 50px;
font-weight: 400;
border: 3px solid white;
text-align: center;
padding: 0;
display: flex;
justify-content: center;
border-radius: 30px;
word-wrap: break-word;
cursor: pointer;
align-items: center;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}

.start-button:hover{
background-color: #E6821C;
transform: scale(1.1);
}

.fish-1 {
position:absolute;
animation-name : swimming-1 ;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

.fish-2 {
    position:absolute;
    animation-name : swimming-2 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(2) ;
    }
.fish-3 {
    position:absolute;
    animation-name : swimming-3 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
.fish-4 {
    position:absolute;
    animation-name : swimming-4 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(2)
    }
.fish-5 {
    position:absolute;
    animation-name : swimming-5 ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(2)
    }

.zone{
width: 100%;
margin-right: 5%;
height: 33% ;
display: flex;
align-items: center;
justify-content: flex-end;
color: white;
font-size: 24px;
padding: 5%;

}
.euphotic {background: #5AA9E6;}
.dysphotic {background: #2C7CB9;}
.aphotic {background: #01111E;}


.fish-1 {top: 20%; right: 10%; width: 100px; animation-duration: 16s; transform: scaleX(-1);}
.fish-2 {top: 60%; left: 80%; width: 70px; animation-duration: 6s; }
.fish-3 {top: 40%; right: 30%; width: 90px; animation-duration: 10s; transform: scaleX(1); }
.fish-4 {top: 70%; left: 50%; width: 80px; animation-duration: 9s; }
.fish-5 {top: 70%; left: 50%; width: 80px; animation-duration: 12s; transform: scaleX(-1);}

#gameScreen h2,
#gameScreen p {
align-self: flex-start;
margin-left: 5%;
text-align: left;
}

@keyframes swimming-1 { 
    0% {right:0px; top: 50px; }
    100% { right:2000px; top: 50px; } 
    }
    @keyframes swimming-2 { 
        0% {left:0px; top: 250px; }
        100% { left:2080px; top:250px; } 
        }
        @keyframes swimming-3 { 
            0% {right:0px; top: 750px; }
            100% { right:2000px; top:750px; } 
            }
            @keyframes swimming-4 { 
                0% {left:0px; top: 390px; }
                100% { left:2000px; top:390px; } 
                }
                @keyframes swimming-5 { 
                    0% {left:0px; top: 900px; }
                    100% { left:2000px; top:900px; } 
                    }


